@font-face {
    font-family: Cormorant;
    font-weight: 700;
    font-display: swap;
    src: local("Cormorant-bold"), local("Cormorant"), 
        url("../fonts/cormorant-v11-latin_cyrillic-700.woff2") format("woff2"),
        url("../fonts/cormorant-v11-latin_cyrillic-700.woff") format("woff");
}