.footer {
    background-color: var(--second-color);
    color: var(--main-color);
    padding: 80px 0 100px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.04em;
}

.footer__container {
    display: grid;
    grid-template-columns: 4fr 5fr 3fr;
    gap: 68px 30px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.04em;
}

.footer__item:not(:last-child) {
    margin-bottom: 20px;
}

.footer__link {
    transition: color .3s ease-in-out;
}

.footer__link:hover {
    color: var(--second-bg-color);
}

.footer__list-social {
    display: flex;
    align-items: center;
}

.footer__link-social {
    display: block;
    width: 40px;
    height: 40px;
}

@media (max-width: 1200px) {
    .footer {
        padding: 57px 0;
        font-size: 16px;
    }

    .footer__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 53px 30px;
    }

    .footer__contacts {
        font-size: 20px;
    }

    .footer__link-social {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 1000px) {
    .footer {
        font-size: 14px;
    }

    .footer__container {
        grid-template-columns: 4fr 5fr 3fr;
        gap: 40px 24px;
    }

    .footer__contacts {
        font-size: 16px;
    }

    .footer__link-social {
        width: 26px;
        height: 26px;
    }
}

@media (max-width: 760px) {
    .footer {
        padding: 40px 0;
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .footer__logo,
    .footer__list-social {
        order: -1;
    }
}

@media (max-width: 580px) {
    .footer {
        font-size: 12px;
        padding: 30px 0;
    }

    .footer__container {
        grid-template-columns: 1fr;
    }

    .footer__contacts {
        font-size: 14px;
    }

    .footer__contacts,
    .footer__rules-list {
        order: -1;
    }
}