.header {
    color: var(--second-color);
    padding: 27px 0;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
}

.header__logo {
    justify-self: start;
}

.header__navigation {
    justify-self: center;
}

.header__consultation {
    justify-self: end;

    padding:14px 36px;
    background-color: var(--trigger-color);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    color: var(--main-color);
    border: none;
    box-shadow: 0px 2px 6px transparent;
    transition-property: background-color, box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.header__consultation:hover {
    background-color: var(--main-bg-color);
}

.header__consultation:active {
    background-color: var(--main-bg-color);
    box-shadow: 0px 2px 6px rgba(2, 67, 52, 0.36);
}

.header__consultation:focus {
    outline-color: var(--second-color);
}

@media (max-width: 1440px) {
    .header__consultation {
        padding: 12px 30px;
        font-size: 16px;
        border-radius: 8px;
    }
}

@media (max-width: 1000px) {
    .header {
        padding: 20px 0;
    }

    .header__container {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 38px;
    }
    
    .header__burger {
        grid-row: 1;
        grid-column: 1;
        justify-self: start;
    }

    .header__logo {
        grid-row: 1;
        grid-column: 2;
        justify-self: center;
    }

    .header__consultation {
        grid-row: 1;
        grid-column: 3;
        padding: 8px 20px;
        font-size: 14px;
        border-radius: 6px;
    }

    .header__navigation {
        grid-row: 2;
        grid-column: 1/4; /* From column 1 to column 4 */
    }
}

@media (max-width: 580px) {
    .header {
        padding-top: 16px;
        padding-bottom: 20px;
    }

    .header__container {
        row-gap: 15px;
    }

    .header__consultation {
        padding: 5px 14px;
        font-size: 12px;
    }
}