.modal {
    position: relative;
    background-color: var(--main-color);
    max-width: 950px;
    padding: 60px 85px;

    border: 1px solid var(--second-color);
    border-radius: 14px;    
    color: var(--second-color);
    width: 100%;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: var(--main-bg-color);
    transition: color .3s ease-in;
}

.modal__close:hover {
    color: var(--second-color);
}

.modal__close:active {
    color: var(--second-bg-color);
}

.modal__close:focus {
    color: var(--second-color);
    outline: 1px solid var(--second-color);
}

.modal__title {
    color: var(--main-bg-color);
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 50px;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__label {
    position: relative;
    display: block;
}

.modal__label-text {
    position: absolute;
    top: 12px;
    left: 15px;
    color: var(--second-color);

    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.04em;
}

.modal__input {
    width: 100%;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    padding: 45px 15px 31px;
    border-radius: 12px;
    border: 1px solid var(--second-bg-color);
    margin-bottom: 20px;
}

.modal__label_last {
    margin-bottom: 60px;
}

.modal__button {
    padding: 14px 36px;
    border-radius: 10px;
    background-color: var(--trigger-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--main-color);
    align-self: flex-end;
    border: 0;
}

@media (max-width: 1200px) {
    .modal {
        padding: 50px 100px;
        max-width: 746px;
    }

    .modal__title {
        font-size: 22px;
        margin-bottom: 40px;
    }

    .modal__label_last {
        margin-bottom: 40px;
    }

    .modal__button {
        padding: 12px 30px;
        font-size: 16px;
        border-radius: 8px;
    }
}

@media (max-width: 1000px) {
    .modal {
        padding: 40px 80px;
        max-width: 600px;
    }

    .modal__title {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .modal__label {
        margin-bottom: 15px;
    }

    .modal__label-text {
        font-size: 14px;
    }

    .modal__label_last {
        margin-bottom: 40px;
    }

    .modal__input {
        font-size: 14px;
        padding-bottom: 20px;
    }

    .modal__button {
        padding: 8px 20px;
        font-size: 14px;
        border-radius: 6px;
    }
}

@media (max-width: 760px) {
    .modal {
        padding: 15px 30px;
    }

    .modal__title {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .modal__label-text {
        font-size: 12px;
    }

    .modal__label_last {
        margin-bottom: 15px;
    }

    .modal__input {
        font-size: 12px;
        padding: 38px 10px 16px;
    }

    .modal__button {
        padding: 5px 14px;
    }
}
