.navigation__list {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.navigation__link {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--second-color);
    position: relative;
}

.navigation__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-bg-color);
    transition-duration: .4s;
    transition-property: transform;
    transform: scaleX(0);
}

.navigation__link:hover::before {
    transform: scaleX(1);
}

.navigation__link:hover {
    color: var(--main-bg-color);
}

@media (max-width: 1440px) {
    .navigation__link {
        gap: 20px;
    }

    .navigation__link {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 1000px) {
    .navigation {
        display: none;
        width: 100%;
    }

    .navigation_active {
        display: block;
    }

    .navigation__item {
        flex-basis: 146px;
    }

    .navigation__link {
        display: block;
        width: 100%;
        border: 1px solid var(--trigger-color);
        border-radius: 20px;
        text-align: center;
        padding: 7px 10px;
        font-size: 14px;
    }

    .navigation__link::before {
        content: none;
    }
}

@media (max-width: 760px) {
    .navigation__list {
        flex-wrap: wrap; /* To move elements to a new line */
        gap: 8px 6px;
    }

    .navigation__item {
        flex-basis: calc(50% - 6px); /* To move elements to a new line only in pair */
    }
}

@media (max-width: 580px) {

}