.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .5);

    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow-y: auto;

    display: none;
}

.overlay_active {
    display: flex;
}