.pay {
    background-color: var(--second-bg-color);
    padding: 60px 0 80px;
    color: var(--main-color);
}

.pay__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    margin-bottom: 48px;
}

.pay__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.pay__item {
    flex-basis: calc(100% / 3 - 60px / 3);
}

@media (max-width: 1440px) {
    .pay__title {
        font-size: 60px;
    }
}

@media (max-width: 1200px) {
    .pay__title {
        font-size: 50px;
    }

    .pay__list {
        gap: 20px;
    }

    .pay__item {
        flex-basis: calc(100% / 3 - 40px / 3);
    }
}

@media (max-width: 1000px) {
    .pay__title {
        font-size: 40px;
    }

    .pay__list {
        gap: 34px;
    }

    .pay__item {
        flex-basis: calc(100% / 3 - 68px / 3);
    }
}

@media (max-width: 760px) {
    .pay__title {
        font-size: 30px;
    }

    .pay__list {
        flex-direction: column;
        align-items: center;
    }

    .pay__item {
        flex-basis: auto;
        width: 65%;
    }
}

@media (max-width: 580px) {
    .pay__title {
        font-size: 28px;
    }
}