.product {
    padding: 80px 0;
    color: var(--main-color);
    background-color: var(--main-bg-color);
}

.product:nth-child(3n) {
    background-color: var(--one-color);
}

.product:nth-child(3n + 1) {
    background-color: var(--two-color);
}

.product:nth-child(3n + 2) {
    background-color: var(--three-color);
}

.product__container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.product:nth-child(even) .product__container {
    flex-direction: row-reverse;
}

.product__content {
    padding-top: 56px;
    max-width: 500px;

}

.product__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
}

.product__features {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    margin-bottom: 50px;
}

.product__description {
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.04em;
    margin-bottom: 70px;
}

.product__button-wrapper {
    display: flex;
    align-items: center;
    gap: 36px;
}

.product__button {
    display: block;
    padding: 14px 36px;
    border: 2px solid transparent;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--main-color);
    background-color: transparent;
}

.product__button:hover {
    background-color: var(--main-color);
    color: var(--main-bg-color);
    border-color: var(--main-color);
}

.product__button:active {
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border-color: var(--main-bg-color);
}

.product__button_order:focus {
    outline: 2px solid var(--second-color);
    border-color: transparent;
}

.product__button_more:focus {
    outline: 2px solid var(--main-color);
    border-color: transparent;
}

.product__button_order {
    background-color: var(--second-bg-color);
}

.product__button_more {
    border-color: var(--second-bg-color);
}

.product__picture {
    width: calc(50% - 15px);
    border-radius: 16px;
    object-fit: cover;
}

@media (max-width: 1440px) {
    .product__content {
        padding-top: 40px;
        max-width: 460px;
    }

    .product__title {
        font-size: 60px;
    }

    .product__features {
        margin-bottom: 30px;
        font-size: 16px;
    }

    .product__description {
        font-size: 22px;

    }
}

@media (max-width: 1200px) {
    .product {
        padding: 60px 0;
    }
    
    .product__content {
        padding-top: 24px;
        max-width: 380px;
    }

    .product__title {
        font-size: 51px;
        margin-bottom: 20px;
    }

    .product__features {
        margin-bottom: 30px;
        font-size: 16px;
    }

    .product__description {
        font-size: 20px;
        margin-bottom: 50px;
    }

    .product__button-wrapper {
        gap: 50px;
    }

    .product__button {
        font-size: 16px;
        border-radius: 8px;
        padding: 12px 30px;
    }
}

@media (max-width: 1000px) {
    .product {
        padding: 50px 0;
    }
    
    .product__content {
        max-width: 330px;
    }

    .product__title {
        font-size: 40px;
    }

    .product__features {
        font-size: 14px;
    }

    .product__description {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .product__button-wrapper {
        gap: 20px;
    }

    .product__button {
        font-size: 14px;
        border-radius: 6px;
        padding: 8px 20px;
    }
}

@media (max-width: 760px) {
    .product {
        padding: 20px 0;
    }
    
    .product__title {
        font-size: 30px;
    }

    .product__features {
        margin-bottom: 20px;
    }

    .product__description {
        margin-bottom: 30px;
    }

    .product__button-wrapper {
        gap: 20px;
    }
}

@media (max-width: 580px) {
    .product:nth-child(even) .product__container,
    .product__container {
        flex-direction: column-reverse;
    }

    .product__content {
        width: 100%;
        max-width: none;
        padding: 0;
    }

    .product__picture {
        width: 100%;
    }

    .product__title {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .product__features {
        font-size: 12px;
    }

    .product__description {
        margin-bottom: 14px;
    }

    .product__button-wrapper {
        gap: 20px;
    }

    .product__button {
        font-size: 12px;
        padding: 5px 14px;
    }
}