@import "normalize.css";
@import "fonts.css";
@import "default.css";

@import "header.css";
@import "navigation.css";
@import "burger.css";
@import "logo.css";
@import "hero.css";
@import "features.css";
@import "product.css";
@import "pay.css";
@import "option-pay.css";

@import "footer.css";

@import "overlay.css";
@import "modal.css";

@import "timer.css";

:root {
    --main-color: #fff;
    --second-color: #262626;
    --one-color: #006E55;
    --two-color: #00654E;
    --three-color: #005844;
    --main-bg-color: var(--three-color);
    --second-bg-color: #C0B487;
    --trigger-color: #E6AB39;

    --url-features-one: url("../img/tree.svg");
    --url-features-two: url("../img/christmas-decorations.svg");
    --url-features-three: url("../img/flowers.svg");
    --url-features-four: url("../img/delivery-truck.svg");
}

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: var(--main-color);
}

h1, h2 {
    font-family: Cormorant, serif;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1390px; /* 1290px + 50px*2 (paddings);*/
    margin: 0 auto;
    padding: 0 50px;
}

.hide {
    display: none;
}

/* Standard screen resolution for MacBooks. For notebooks- 1366px */
@media (max-width: 1440px) {
    .container {
        padding: 0 42px;
    }
}

@media (max-width: 1000px) {
    .container {
        padding: 0 39px;
    }
}